* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: blue;
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: blue;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav a {
    color: white;
    text-decoration: underline;
    text-align: center;
    flex: 1;
    padding: 10px 20px;
    margin: 0 10px;
    font-weight: bold;
}

nav a:hover {
    color: aqua;
}